@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-color: #FFEF5C;
    --main-bg-color: #FEF6EB;
}

.bg-image {
    overflow: hidden;
    border-radius: 30px 100px 30px 150px;
}